
body{
    margin:0;
}
.container{
    width:1170px;
    margin:0 auto;

    
}


/* Slideshow container */
.slideshow-container {
   max-width: 1200px;
    position: relative;
    top:20px;
   margin:auto;




}

/* Hide the images by default */
.mySlides {
    display: none;
    width:100%;
}
.mySlides img{
    border: 1px solid black;

}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 400px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
header{
    width:100%;
    float:left;
    background-color:black;
    position:fixed;
    z-index: 1;
    
}
.logo{
    width: 50%;
    float:left;
    background-color: black;
    
}
.logo img{
    width:27%;
    float:left;
}
.nav{
    width:50%;
    float:left;
    background-color: black;
    

}
ul{
    list-style: none;
    float:right;
    
}
ul li{
display:inline-block;
margin:20px;
}
li a{
    text-decoration: none;
    color:gold;
}
.main-contained{
    width:100%;
    float:left;

    

}
label{
    width:20%;
    float:left;
    margin-top:20px;
    margin-left:200px;
    font-family: cursive;
   
}
.inpt{
    width:30%;
    float:left;
    
    margin-left:30px;
}
.main-contained .inpt input{
    width:100%;
    float:left;
    margin-top:20px;
    
    color:black;
    border-left:none;
    border-right:none;
    border-top:none;
    padding-bottom:20px;
    text-align: center;
    padding-top:20px;
    border-color:black;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
outline:none;





}
.contained{
    width:100%;
    float:left;
    background-color: azure;

}
.houses{
    width:100%;
    float:left;
    margin:20px 80px;
    text-align: center;
   



}
.items{
    width:30%;
    float:left;
    margin:5px;
border:1px black solid; 
}
.items img{
    width:50%;


}
.items p{
    width:50%;
    text-align: center;
    padding:0 0 0 80px;

}
.items h1{
    color: gold;
    font-family: fantasy;
    font-weight: 100;
    text-underline-position: below;
    text-decoration: black underline;
    
}
.items p a{
    color:white;
    background-color: red;
    text-decoration: none;
    border-radius:10px;
    border:1px black solid;
    padding:2px 5px;
word-spacing:10%;
transition: 2s;
    
}
.items p a:hover{
    background-color:lightblue;
    color:Black;
}
